</div>
<footer class="blog-footer">
  <p class="mt-0 mb-0 text-muted text-center">&copy; 2020 - GroupRANDOM | Covid-19</p>
    </p>
  </footer>
  <script src="/public/js/jquery-3.5.0.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/designStyles.js"></script>
  <script src="/public/js/ajax.js"></script>
  <script>
    document.title = pageName;
  </script>
  </body>
  </html>