<script>
  let pageName = "Anasayfa";
</script>
<%-include('topView')%>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">ITIL V3, Cobit, ISO-27001, ISO-9001</h1>
      <p class="lead my-3">Information Management Technology” Management & Standards Dersi için hazırlamış olduğumuz ödevimizdir. 
          Ödevimizde Node.JS, Bootstrap, Css, MongoDB kullanılarak MVC yöntemiyle kodlama yapılmıştır. Arayüzü basit tutup anlaşılabilirliği
          ön plana çıkarmak istedik. Bu yüzden görsel olarak dökümantasyon sayfalarıyla benzerlik göstermektedir.

      </p>
      <p class="lead mb-0"><a href="#itil" class="text-white font-weight-bold">Aşağıdan tıklayın...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">ITMS</strong>
          <h3 class="mb-0">ITIL V3</h3>
          <div class="mb-1 text-muted">Nisan 22</div>
          <p class="card-text mb-auto">ITIL servis yönetim metodolojisi, BT servislerini eksiksiz ve en iyi kalitede yönetmek için geliştirilmiştir.</p>
          <a href="#" class="stretched-link">Konuya Git</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img id = "itil" class="img" width="200" height="250" src="https://www.cleverducks.com/wp-content/uploads/2017/08/ITIL-FOUNDATION.png"/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-secondary">ITMS</strong>
          <h3 class="mb-0">CobiT</h3>
          <div class="mb-1 text-muted">Nisan 22</div>
          <p class="mb-auto">Tanım olarak CobiT, “Control Objectives for Information and Related Technology” nin kısaltılmış halidir.</p>
          <a href="#" class="stretched-link">Konuya Git</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="img" width="200" height="250" src="https://images-na.ssl-images-amazon.com/images/I/41-bAFmVEPL._SX258_BO1,204,203,200_.jpg"/>
         </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-info">ITMS</strong>
          <h3 class="mb-0">ISO 27001</h3>
          <div class="mb-1 text-muted">Nisan 22</div>
          <p class="mb-auto">Bilgi bir kurumun iş sürekliliğini sağlamasında en önemli değerlerinden birisidir.</p>
          <a href="#" class="stretched-link">Konuya Git</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="img" width="200" height="250" src="https://www.rnd.com.tr/wp-content/uploads/2018/07/ISO27001.jpg"/>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">ITMS</strong>
          <h3 class="mb-0">ISO 9001</h3>
          <div class="mb-1 text-muted">Nisan 22</div>
          <p class="mb-auto">Bilgi bir kurumun iş sürekliliğini sağlamasında en önemli değerlerinden birisidir.</p>
          <a href="#" class="stretched-link">Konuya Git</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="img" width="200" height="250" src="https://www.ekipkalite.com/img/iso-9001-2015-logo.jpg"/>
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
 
</main><!-- /.container -->

<%-include('bottomView')%>